<header class="wrapp-header">
			<div class="info-box-01">
				<div class="container">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4 text-sm-center">
							<ul class="social-list-01">
								<li>
									<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-instagram" aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-google-plus" aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-sm-8 col-md-8 col-lg-8 text-sm-center text-right">
							<div class="contact-block-01">
								<a class="contact-block-01__email" href="mailto:thesmart@edu.com">thesmart@edu.com</a>
								<p class="contact-block-01__phone"><a href="signin.html">SignIn</a>
				
								</p>
								<a class="contact-block-01__lang" href="#">SignUp</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="main-nav">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<a href="./" class="logo">
								<img src="favicon.ico" alt="">
							</a>
							<div class="main-nav__btn">
								<div class="icon-left"></div>
								<div class="icon-right"></div>
							</div>
							<div class="search-block">
								<button class="search-btn">Search</button>
								<form action="./" class="search-block__form">
									<input class="search-block__form-text" type="text" name="search-name" placeholder="Search...">
								</form>
							</div>
							<ul class="main-nav__list sf-js-enabled sf-arrows" style="touch-action: pan-y;">
								<li>
									<a href="index.html" class="sf-with-ul">Home</a>
									<ul style="display: none;">
										<li>
											<a href="index.html">Home 1</a>
										</li>
										<li>
											<a href="index_02.html">Home 2</a>
										</li>
										<li>
											<a href="index_03.html">Home 3</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="events.html" class="sf-with-ul">Events</a>
									<ul style="display: none;">
										<li>
											<a href="single_event.html">Single event</a>
										</li>
										<li>
											<a href="events_calendar.html">Events calendar</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sf-with-ul">Pages</a>
									<ul style="display: none;">
										<li>
											<a href="mission.html">Our Mission</a>
										</li>
										<li>
											<a href="process.html">Process</a>
										</li>
										<li>
											<a href="about.html">About</a>
										</li>
										<li>
											<a href="become_a_teacher.html">Become a Teacher</a>
										</li>
										<li>
											<a href="for_business.html">For Business</a>
										</li>
										<li>
											<a href="services.html">Services</a>
										</li>
										<li>
											<a href="team.html">Our Team</a>
										</li>
										<li>
											<a href="single_team.html">Single Team</a>
										</li>
										<li>
											<a href="404.html">404</a>
										</li>
										<li>
											<a href="single_course.html">Single course</a>
										</li>
										<li>
											<a href="typography.html">Typography</a>
										</li>
										<li>
											<a href="coming_soon.html">Coming soon</a>
										</li>
										<li>
											<a href="gallery.html">Gallery</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="blog_with_right_sidebar.html" class="sf-with-ul">News</a>
									<ul style="display: none;">
										<li>
											<a href="blog_fullwidth.html">Fullwidth Listing</a>
										</li>
										<li>
											<a href="blog_with_right_sidebar.html">With Right Sidebar</a>
										</li>
										<li>
											<a href="blog_with_left_sidebar.html">With Left Sidebar</a>
										</li>
										<li>
											<a href="blog_post_right_sidebar.html" class="sf-with-ul">Blog post</a>
											<ul style="display: none;">
												<li>
													<a href="blog_post_fullwidth.html">Fullwidth</a>
												</li>
												<li>
													<a href="blog_post_right_sidebar.html">With Right Sidebar</a>
												</li>
												<li>
													<a href="blog_post_left_sidebar.html">With Left Sidebar</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="active">
									<a href="courses.html">Courses</a>
								</li>
								<li>
									<a href="contacts.html">Contacts</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>